@font-face {
			font-family: "Gotham Pro";
			src: url("../fonts/GothamProBlack.eot");
			src: url("../fonts/GothamProBlack.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBlack.woff") format("woff"),
			url("../fonts/GothamProBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: 900;
	}

@font-face {
			font-family: "Gotham Pro";
			src: url("../fonts/GothamProBold.eot");
			src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBold.woff") format("woff"),
			url("../fonts/GothamProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: 800;
	}

@font-face {
			font-family: "Gotham Pro";
			src: url("../fonts/GothamProMedium.eot");
			src: url("../fonts/GothamProMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProMedium.woff") format("woff"),
			url("../fonts/GothamProMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: 600;
	}

	@font-face {
			font-family: "Gotham Pro";
			src: url("../fonts/GothamProRegular.eot");
			src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProRegular.woff") format("woff"),
			url("../fonts/GothamProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: 400;
	}

	@font-face {
			font-family: "Gotham Pro";
			src: url("../fonts/GothamProLight.eot");
			src: url("../fonts/GothamProLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProLight.woff") format("woff"),
			url("../fonts/GothamProLight.ttf") format("truetype");
			font-style: normal;
			font-weight: 200;
	}